{% extends 'base.html.twig' %}

{% block title %}Mot de apsse oublié{% endblock %}

{% block body %}

	<h2 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h2>
    {{ form(emailForm) }}
		
{% endblock %}

 