{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

	<h2 class="h3 mb-3 font-weight-normal">Entrez votre nouveau mot de passe</h2>
	<form method="POST">
		<label for="pass">Mot de passe</label>
		<input type="password" name="password" id="pass">

		<input type="hidden" name="token" value="{{ token }}">

		<button type="btn btn-success">Valider</button>
	</form>
    
{% endblock %}
