<footer class="container-fluid bg-dark ">
    <div class="row text-center text-info">
        <div class="col border-right">
            <a href="{{ path('mentions') }}">Voir les mentions légales</a><hr>
            <a href="{{ path('rgpd') }}">RGPD</a>
        </div>
        <div class="col-2"><a href="#" target="_blank">Mon Twitter</a></div>
        <div class="col-2"><a href="#" target="_blank">Mon Facebook</a></div>
        <div class="col-2"><a href="#" target="_blank">Chaîne Twitch</a></div>
        <div class="col"><a href="{{ path('contact') }}" target="_blank">Me Contacter</a></div>
    </div>
    <div class="row text-info">
        <div class="col text-center">⚙ Copyright ©️ Thibaut Misterlynx 2020 ⚙</div>
    </div>
</footer>