{% extends "base.html.twig" %}

{% block title %}Page not Found{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h2>Page {{ status_text }} </h2>
        <p>La page n'a pas été trouvée</p>
        <p>Code l'erreur: {{ status_code }}</p>
    </div>
    
{% endblock %}