<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Activation Compte</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1> Activation de votre compte</h1>
        <p> Vous avez bien créez un compte sur notre site, veuillez cliquez sur le lien pour l'activer</p>
        <p><a href="{{ absolute_url(path('activation', {'token': token})) }}">Activer mon compte</a></p>   
    </body>
</html>


