<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Nouvelle Inscription</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Nouveau compte</h1>
        <p>Cher admin, un nouvel utilisateur vient de s'inscrire sur FuturTransmission.com</p>
    
    </body>
</html>